<h1>Buscador <small>{{termino}}</small></h1>
<hr>
<div *ngIf="heroes.length==0" class="row">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existen resultados para la búsqueda {{termino}}
    </div>
  </div>

</div>
<div class="card-columns">

  <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i=index">
    <img [src]=" heroe.img " class="card-img-top" [alt]="heroe.nombre">
    <div class="card-body">
      <h5 class="card-title">{{heroe.nombre}}</h5>
      <p class="card-text">{{heroe.bio}}</p>
      <p class="card-text">{{heroe.casa}}<small class="text-muted"><br>{{heroe.aparicion}}</small></p>
      <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
      <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary btn-block">Ver más...</a> -->
    </div>
  </div>

</div>
